@import "tailwindcss";

/* Konfigurasi Tema Tailwind v4 */
@theme {
  /* Ubah font default (sans) ke Inter */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Terapkan font secara global ke body */
body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
